---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

    <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
    
    <p> 
      <i>
      {{ post.date | date: "%B %e, %Y"  }} | 
      Tags:
        {% for tag in post.tags %}
          {{ tag }}
        {% endfor %}
      </i>
    </p>

    <div>
      <img src="({{site.url}}/assets/images/unnamed.png)" alt="Flowers in Chania">
    </div>

    <!-- <p>Tags: {{ post.tags}}</p> -->
      
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <hr>

    </article>
  {% endfor %}
</div>